
body{
     
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

section{
    height: 400px;
    padding-bottom:400px;
    
}
.hero-section{
   background-image:url('../image/hero-banner.png');
    background-repeat: no-repeat;
}
.half-width{
        width: 40%;
        margin-left: 5%;
        float: left;
        padding-left: 2%;
        height: 500px;

}
h1{

    font-size: 50px;
    font-weight:600;
}
h1 span{
    color: orange;
}
.p{
      font-size:50px;
      font-weight: 600; 
     padding-top:10px ;

}

p{
    padding-bottom:20px;
    font-size: 20px;
   
}
.half-width IMG{

    width:100%;
    padding-top: 20px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}
.second-section{
    background-image:url('../image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image:url('../image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}.experience-area div{
    box-shadow: 5px 7px 40px lightgray;
    height: 70%;
    padding-right: 20px;
    height:400px;
}

.experience-area h2{
    font-size: 40px;
    font-weight: 600;
}

.experience-area h3{
    color: orange;
    font-size: 20px;
    font-weight: 500;
}

#full-stack{
    background-color: #fff;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

#wordpress{
    background-color: #fff;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

footer{
    text-align: center;
}